# Build
build

info

# compile_commands symlink não precisa ser ignorado, mas o json gerado sim
compile_commands.json

# CLion
.idea/

# Binário gerado

# Arquivos de objeto e temporários
*.o
*.d
*.a
*.so
